@font-face {
  font-family: 'myFont';
  src: url('../../../../public/FarsiFont/Vazir.ttf');
}
.faconect {
  font-family: 'myFont';
}

.dhole {
  height: auto;
  position: relative;
}
.form {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}
.f{
  margin: auto;
  width: 90%;
}
.contact-form 
 {
   margin: auto;
   border: solid;
}
#message {
  width: 100%;
  border-radius: 7px;
  padding: 7px;
  margin: auto;
}
#emailfrom1 {
  width: 100%;
  padding: 7px;
  border-radius: 7px;
  margin: auto;

}
#emailfrom2 {
  width: 100%;
  padding: 7px;
  border-radius: 7px;
  margin: auto;

}

label {
  padding-left: 1px;
  padding-top: 10px;
}
.dlinks {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 15px;
  width: 16rem;
  font-size: 22px;
}
.dlinks i {
  color: white;
  border-radius: 50%;
  padding: 0px;
  margin: 0;
}
.dlinks .face{
 background-color: rgb(51, 51, 249);
 color: white;
 padding: 5px 7px;

}
.dlinks  .telegram{
color: rgb(70, 124, 225);
background-color: white;
margin-top: 2px;
font-size: 29px;
 }
 .dlinks .whatsapp{
  background-color: rgb(13, 238, 13);
  color: white;
 padding: 5px;

 }
 .dlinks .github{
  color: black;
  background-color: white;
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-top: 2px;
 }
 .dlinks .linkedin{
  background-color: rgb(8, 8, 209);
  color: white;
 padding: 5px;

 }
 .goTop{
  background-color: rgb(58, 58, 243);
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
}.goTop:hover{
  background-color: rgb(5, 5, 211);
  height: 40px;
  width: 40px;
  transition: 0.5s all;
}

@media screen and (max-width: 1000px) {
  .form {
    width: 92%;
    margin: auto;
  border-radius: 8px;

  }
}
@media screen and (max-width: 800px) {
  .dlinks {
    font-size: 20px;
    width: 13rem;
} 
}

@media screen and (max-width: 500px) {
  .f{
    margin: auto;
    width: 100%;
  }
}

