@font-face {
  font-family: 'myFont';
  src: url('../../../../public/FarsiFont/Vazir.ttf');
}
.faconect {
  font-family: 'myFont';
}

.dhole {
  height: auto;
  position: relative;
}
.form {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}
.contact-form input,
textarea,
button {
  margin: auto;
}
#message {
  width: 90%;
  margin-left: 4%;
  border-radius: 5px;
  padding: 5px;
}
#emailfrom {
  width: 90%;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  margin-left: 4%;
}
.button {
  margin-left: 4.4%;
}
label {
  padding-left: 4%;
  padding-top: 10px;
  padding-right: 1vh;
}
.dlinks {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 10px;
  width: 16rem;
  font-size: 22px;
  /* border: solid 1px black; */
}
.dlinks i {
  color: white;
  border-radius: 50%;
  padding: 8px;
}
.dlinks .face{
 background-color: rgb(51, 51, 249);
 color: white;
}
.dlinks  .telegram{
color: rgb(70, 124, 225);
background-color: white;
 }
 .dlinks .whatsapp{
  background-color: rgb(13, 238, 13);
  color: white;
 }
 .dlinks .github{
  color: black;
  background-color: white;
 }
 .dlinks .linkedin{
  background-color: rgb(8, 8, 209);
  color: white;
 }
 .goTop{
  background-color: rgb(58, 58, 243);
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
}.goTop:hover{
  background-color: rgb(5, 5, 211);
  height: 40px;
  width: 40px;
  transition: 0.5s all;
}

@media screen and (max-width: 1000px) {
  .form {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 800px) {
  .dlinks {
    font-size: 20px;
  width: 13rem;

}  .dlinks i {
padding: 5px;
}
}
