@font-face {
    font-family: 'myFont';
    src: url('../../../../public/FarsiFont/Vazir.ttf');
  }
  .faLeft {
    font-family: 'myFont';
  }

.leftmain{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   height: 70%;
   padding: 0;
   /* border: solid 1px greenyellow; */
}.left{
  height: 66%;
}
