@font-face {
    font-family: 'myFont';
    src: url('../../../../public/FarsiFont/Vazir.ttf');
  }
  .faLeft {
    font-family: 'myFont';
  }

.leftmain{
    text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 75%;
}
