.main {
  padding-top: 40px;
  width: 100%;
}

.ul{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
box-sizing: border-box;
padding-bottom: 0;
}

.ul li{
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}.ul li :hover{
  color: rgb(53, 238, 39);
}.navbar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgb(211, 216, 211);
  box-shadow: 5px 5px 25px rgba(0, 0,0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items:center;
  box-sizing: border-box;
  /* height: 58px; */
}@media only screen and (max-width: 762px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items:center;
  }
}
@media only screen and (max-width: 762px) {
  .ul {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .ul {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .contact {
    padding-left: 8px;
  }
}
@media only screen and (max-width: 424px) {
  .contact {
    text-align: center;
    margin:auto;
  }

}
.btn-change{
  border-radius: 8px;
  color: white;
  position: fixed;
  right: 12px;
  border: none;
  top: 98px;
  transition: 0.5s;
  z-index: 2000;
  background-color: hsl(240, 94%, 63%);
}.btn-change:hover{
background-color: white;
color: black;
}
.info{
  text-align: center;
  margin: auto;
}@media only screen and (max-width: 356px) {
  .btn-change {
   right: 7px;
   top: 127px;
   padding: 3px;
  }
}
.text-info {
  font-size: 22px;
}

@media only screen and (max-width: 562px) {
  .text-info {
    font-size: 18px;
  }
}.lin:hover{
color: white;
}.nav-links{
  color: rgb(57, 57, 252);
  transition: 0.3s;
}.nav-links:hover{
  color: white;
  }.contactbtn{
    background-color: rgb(66, 66, 254);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 7px 12px;
    transition: 0.3s;
  }.contactbtn:hover{
    background-color: white;
    color: black;
  }

  

  .icon1 {
    position: fixed;
    right: 16px;
    top: 70px;
    color: black;
    transition: 2s;
    z-index: 10000;
    cursor: pointer;
  }
  .icon2 {
    position: fixed;
    right: 16px;
    top: 70px;
    color: yellow;
    transition: 2s;
    cursor: pointer;
    z-index: 10000;
  
  
  }
  @media only screen and (max-width: 356px) {
    .icon1,.icon2 {
      top: 98px;
      right: 10px;
    }
  }