@font-face {
  font-family: 'myFont';
  src: url('../../../../public/FarsiFont/Vazir.ttf');
}
.faRight {
  font-family: 'myFont';
}

.rightmain{
    text-align: center;
  display: flex;
  align-items:center;
  height: 70%;
  justify-content:center;
  text-align: center;
  padding: 0;
  margin: auto;
}.right{
  height: 67%;
}

@media only screen and (max-width: 991px) {
  .frontheader{
 margin-top: 10px;
  }
}

  @media only screen and (max-width: 767px) {
    .frontheader{
      margin-top: 20px;
    }.faRight{
      margin-top: 17px;
    }
}
