@font-face {
  font-family: 'myFont';
  src: url('../../../../public/FarsiFont/Vazir.ttf');
}
.faAbout {
  font-family: 'myFont';
}
* {
  box-sizing: border-box;
}
.center {
  text-align: center;
  line-height:2.5rem
}
.btn-primary-cv{
  border-radius: 25px;
  border: none;
  animation:example 2s infinite;
}


@keyframes example {
10%   {transform: scale(1);}
70%  {transform: scale(1.2);}
100%  {transform: scale(1);}
} 

.centerbtn {
  display: flex;
  justify-content: center;
}
.row {
  width: 100%;
}
.text {
  text-align: center;
}
.about img {
  width: 100%;
  height: 90vh;
}
.about p {
  padding: 1vh 2vh 0.5vh 2vh;
}


@media screen and (max-width: 768px) {
  .about img {
    width: 100%;
    height: 90vh;
  }.center {
    line-height: 2rem;
    text-align:start;
  }
}
@media screen and (max-width: 575px) {
  .center {
      line-height: 1.8rem;
  }
    }
@media screen and (max-width: 360px) {
  .about img {
    width: 100%;
    height: 80vh;
  }
  @keyframes example {
    10%   {transform: scale(1);}
    70%  {transform: scale(1.25);}
    100%  {transform: scale(1);}
    } 
}

.cvdiv {
  width: 100%;
  text-align: center;
}
.a-btn {
  text-decoration: none;
}
