.icon1 {
  color: black;
  position: fixed;
  top: 65px;
  right: 4px;
  transition: 2s;
  cursor: pointer;
  z-index: 10000;
  font-size: 26px;
}
.icon2 {
  color: yellow;
  position: fixed;
  top: 65px;
  right: 3px;
  transition: 2s;
  cursor: pointer;
  z-index: 10000;
  font-size: 25px;
}
.app{
  width: 100%;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 750px){
  .icon2{
    left: 2px;
    font-size: 26px;
    right: auto;
 
   }
   .icon1{
     left: 4px;
     font-size: 27px;
     right: auto;
    }
}