@font-face {
  font-family: 'myFont';
  src: url('../../../../public/FarsiFont/Vazir.ttf');
}
.faexprence {
  font-family: 'myFont';
}
.exprence {
  line-height: 2;
}
.exprence .img {
  display: flex;
  justify-content: center;
}
.lg10 {
  margin: auto;
}
.exprence h3 {
  text-align: start;
}
.exp-ul {
  list-style:none;
  margin: 0;
  padding: 0;
}
.exp-ul li::before {
content: '✔';
padding-right: 5px;
}
.exp-ul-fa {
  list-style:none;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  /* padding-left: 10px; */
}
.exp-ul-fa li::before {
  content: '✔';
  padding-left: 5px;
  }
.dtext {
  margin: auto;
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .dtext {
    width: 100%;
    margin: auto;
  }
  .dftext {
    width: 100vw;
    margin: auto;
  }
}
li {
  text-align: start;
}
