* {
  box-sizing: border-box;
}
.app {
  height: 100%;
  font-size: 20px;
  overflow-x:hidden ;
}

.icon1 {
  color: black;
  position: fixed;
  top: 64px;
  right:5px;
  transition: 2s;
  cursor: pointer;
  z-index: 19000;
  font-size: 26px;
}
.icon2 {
  color: yellow;
  position: fixed;
  top: 64px;
  right: 4px;
  transition: 2s;
  cursor: pointer;
  z-index: 19000;

  font-size: 25px;
}
@media only screen and (max-width: 800px){
  .icon2{
    font-size: 26px;
    right: 3px;
    top: 62px;
   }
   .icon1{
     font-size: 27px;
      right: 3px;
      top: 62px;

    }
}
@media screen and (max-width: 576px) {
  .app {
    font-size: 16.5px;
  }
}